# https://docs.myget.org/docs/reference/myget-npm-support#Working_with_scoped_packages
registry=https://www.myget.org/F/moisesc-utils/npm/
//www.myget.org/F/moisesc-utils/npm/:_authToken=${MYGET_AUTH_TOKEN}
//www.myget.org/F/moisesc-utils/npm/:always-auth=true
strict-ssl=true